<a href="https://colab.research.google.com/github/yairrinat/Survey_Analysis/blob/main/survey_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this short script I plan to analyze the survey data we got from the WMO

# **This is a new version**

In [7]:
# load and install pakages
import pandas as pd
import re

# Loading excels:

In [11]:
# link to excel file:
url = "https://github.com/yairrinat/Survey_Analysis/blob/main/WMO_SURVEY.xlsx?raw=true"

#load personal data:
df_personal = pd.read_excel(url,index_col = 0,header = 0, sheet_name = "Person details")
df_personal = df_personal.iloc[1:,:] # remove first row
#print(df_personal)

#load staff data:
df_staff = pd.read_excel(url,index_col=0,header = 0, sheet_name = "STAFF")
list_ind = df_staff.index.to_list()
list_ind[0] = "secondary_title"
df_staff.index= list_ind
df_staff.head(10)

#load ... to be continued later

                Please provide the total number of staff in your institution/organization by gender:  ...                                        Unnamed: 16
secondary_title                                            Female:                                    ...                             Other (please specify)
Albania                                                         15                                    ...                                                NaN
Argentina                                                       95                                    ...                                                NaN
Australia                                                      NaN                                    ...                                                NaN
Australia                                                      525                                    ...                                                NaN
Bahamas                                                        147                                    ...  Staffing compliment is decreasing, based on em...
Bangladesh                                                       1                                    ...                                                NaN
Belarus                                                        783                                    ...                                                NaN
Belgium                                                        NaN                                    ...                                                NaN
Belize                                                           3                                    ...                                                NaN

[10 rows x 16 columns]

In [100]:
d = {'a': 1, 'b': "25 t o 4", 'c': "fh"}
aa = pd.Series(data=d, index=['a', 'b', 'c'])
#aa = pd.Series({'col1': ["heh", "8", "7 4 /,dlfk 7"]})
aa.head()

aa = df_staff.iloc[1:,3]
print(aa.head())

def identity_total_personal(x_in):
  """ This funciton identify the numbers in each cell of an input dataframe,
   turns them to integers and returns their sum"""
  try:
    if type(x_in) == int or type(x_in) == float:
      return x_in
    list_nums = re.findall(r"\d+",x_in)
    list_nums2 = [int(x) for x in list_nums]
    return sum(list_nums2)
  except:
    return float("NAN")
# return re.findall(r"\d+",df)

# sum the numbers in each cell:
new = aa.map(identity_total_personal)
print(new.head())

# new.head()
# # test:
# a = re.findall(r"\d+","3 jh 32" )
# print(a)
# sum([int(a[0]) , int(a[1])])

# identity_total_personal("aa")


# type(df_staff[1:,3])

Albania       8.0
Argentina    99.0
Australia     NaN
Australia    47.0
Bahamas       2.0
Name: Unnamed: 4, dtype: float64