<a href="https://colab.research.google.com/github/yairrinat/Survey_Analysis/blob/main/survey_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this short script I plan to analyze the survey data we got from the WMO

# **This is a new version**

In [22]:
# load and install pakages
%pip install google_trans_new
from google_trans_new import google_translator  

import pandas as pd

Requirement already satisfied: google_trans_new in /usr/local/lib/python3.7/dist-packages (1.1.9)

In [25]:
#this is only a try
translator = google_translator()  
translator.translate("שלום לכולם",lang_tgt="en")

google_new_transError: ignored

# Loading excels:

In [21]:
# link to excel file:
url = "https://github.com/yairrinat/Survey_Analysis/blob/main/WMO_SURVEY.xlsx?raw=true"

#load personal data:
df_personal = pd.read_excel(url,index_col = 0,header = 0, sheet_name = "Person details")
df_personal = df_personal.iloc[1:,:] # remove first row
#print(df_personal)

#load staff data:
df_staff = pd.read_excel(url,index_col=0,header = 0, sheet_name = "STAFF")
list_ind = df_staff.index.to_list()
list_ind[0] = "secondary_title"
df_staff.index= list_ind
#df_staff.head(10)

#load ... to be continued later

In [20]:
# detact and change language 
translaor = google_translator()
df_new = df_staff.applymap(lambda x: translator.translate(x,lang_tgt="en"))

df_staff.head(10)
df_new.head(10)

google_new_transError: ignored

                Please provide the total number of staff in your institution/organization by gender:  ...                                        Unnamed: 16
secondary_title                                            Female:                                    ...                             Other (please specify)
Albania                                                         15                                    ...                                                NaN
Argentina                                                       95                                    ...                                                NaN
Australia                                                      NaN                                    ...                                                NaN
Australia                                                      525                                    ...                                                NaN
Bahamas                                                        147                                    ...  Staffing compliment is decreasing, based on em...
Bangladesh                                                       1                                    ...                                                NaN
Belarus                                                        783                                    ...                                                NaN
Belgium                                                        NaN                                    ...                                                NaN
Belize                                                           3                                    ...                                                NaN

[10 rows x 16 columns]

In [16]:
df_new.head(10)

                Please provide the total number of staff in your institution/organization by gender:  ...                                        Unnamed: 16
secondary_title                                           Female:                                     ...                            Other (please specify)
Albania                                                        15                                     ...                                              male
Argentina                                                      95                                     ...                                              male
Australia                                                    male                                     ...                                              male
Australia                                                     525                                     ...                                              male
Bahamas                                                       147                                     ...  Staffing compliment is decreasing, based on em...
Bangladesh                                                      1                                     ...                                              male
Belarus                                                       783                                     ...                                              male
Belgium                                                      male                                     ...                                              male
Belize                                                          3                                     ...                                              male

[10 rows x 16 columns]