<a href="https://colab.research.google.com/github/yairrinat/Survey_Analysis/blob/main/survey_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this short script I plan to analyze the survey data we got from the WMO

# **This is a new version**

In [41]:
# load and install pakages
%pip install google_trans_new
from google_trans_new import google_translator  

import pandas as pd
from googletrans import Translator

Collecting google_trans_new
  Downloading https://files.pythonhosted.org/packages/f9/7b/9f136106dc5824dc98185c97991d3cd9b53e70a197154dd49f7b899128f6/google_trans_new-1.1.9-py3-none-any.whl
Installing collected packages: google-trans-new
Successfully installed google-trans-new-1.1.9
Requirement already satisfied: langdetect in /usr/local/lib/python3.7/dist-packages (1.0.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from langdetect) (1.15.0)
Requirement already satisfied: googletrans in /usr/local/lib/python3.7/dist-packages (3.1.0a0)
Requirement already satisfied: httpx==0.13.3 in /usr/local/lib/python3.7/dist-packages (from googletrans) (0.13.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans) (2020.12.5)
Requirement already satisfied: sniffio in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans) (1.2.0)
Requirement already satisfied: rfc3986<2,>=1.3 in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans) (1.5.0)
Requirement already satisfied: httpcore==0.9.* in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans) (0.9.1)
Requirement already satisfied: hstspreload in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans) (2020.12.22)
Requirement already satisfied: chardet==3.* in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans) (3.0.4)
Requirement already satisfied: idna==2.* in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans) (2.10)
Requirement already satisfied: h11<0.10,>=0.8 in /usr/local/lib/python3.7/dist-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans) (0.9.0)
Requirement already satisfied: h2==3.* in /usr/local/lib/python3.7/dist-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans) (3.2.0)
Requirement already satisfied: hyperframe<6,>=5.2.0 in /usr/local/lib/python3.7/dist-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans) (5.2.0)
Requirement already satisfied: hpack<4,>=3.0 in /usr/local/lib/python3.7/dist-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans) (3.0.0)

In [62]:
#this is only a try
translator = google_translator()  
translator.detect("hello")
translator.detect('이 문장은 한글로 쓰여졌습니다.')
translator.translate("NaN")

'Nan '

# Loading excels:

In [52]:
# link to excel file:
url = "https://github.com/yairrinat/Survey_Analysis/blob/main/WMO_SURVEY.xlsx?raw=true"

#load personal data:
df_personal = pd.read_excel(url,index_col = 0,header = 0, sheet_name = "Person details")
df_personal = df_personal.iloc[1:,:] # remove first row
print(df_personal)

#load staff data:
df_staff = pd.read_excel(url,index_col=0,header = 0, sheet_name = "STAFF")
list_ind = df_staff.index.to_list()
list_ind[0] = "secondary_title"
df_staff.index= list_ind
df_staff.head(10)

#load ... to be continued later

                Please provide the total number of staff in your institution/organization by gender:  ...                                        Unnamed: 16
secondary_title                                            Female:                                    ...                             Other (please specify)
Albania                                                         15                                    ...                                                NaN
Argentina                                                       95                                    ...                                                NaN
Australia                                                      NaN                                    ...                                                NaN
Australia                                                      525                                    ...                                                NaN
Bahamas                                                        147                                    ...  Staffing compliment is decreasing, based on em...
Bangladesh                                                       1                                    ...                                                NaN
Belarus                                                        783                                    ...                                                NaN
Belgium                                                        NaN                                    ...                                                NaN
Belize                                                           3                                    ...                                                NaN

[10 rows x 16 columns]

In [54]:
# detact and change language 
translaor = google_translator()
df_new = df_staff.applymap(lambda x: translator.translate(x))

print(df_staff.head(10))
print ("space space")
print(df_new.head(10))

                Please provide the total number of staff in your institution/organization by gender:  ...                                        Unnamed: 16
secondary_title                                            Female:                                    ...                             Other (please specify)
Albania                                                         15                                    ...                                                NaN
Argentina                                                       95                                    ...                                                NaN
Australia                                                      NaN                                    ...                                                NaN
Australia                                                      525                                    ...                                                NaN
Bahamas                                                        147                                    ...  Staffing compliment is decreasing, based on em...
Bangladesh                                                       1                                    ...                                                NaN
Belarus                                                        783                                    ...                                                NaN
Belgium                                                        NaN                                    ...                                                NaN
Belize                                                           3                                    ...                                                NaN

[10 rows x 16 columns]
space space
                Please provide the total number of staff in your institution/organization by gender:  ...                                        Unnamed: 16
secondary_title                                           Female:                                     ...                            Other (please specify)
Albania                                                        15                                     ...                                              male
Argentina                                                      95                                     ...                                              male
Australia                                                    male                                     ...                                              male
Australia                                                     525                                     ...                                              male
Bahamas                                                       147                                     ...  Staffing compliment is decreasing, based on em...
Bangladesh                                                      1                                     ...                                              male
Belarus                                                       783                                     ...                                              male
Belgium                                                      male                                     ...                                              male
Belize                                                          3                                     ...                                              male

[10 rows x 16 columns]

In [59]:
df_staff.head(10)

                Please provide the total number of staff in your institution/organization by gender:  ...                                        Unnamed: 16
secondary_title                                            Female:                                    ...                             Other (please specify)
Albania                                                         15                                    ...                                                NaN
Argentina                                                       95                                    ...                                                NaN
Australia                                                      NaN                                    ...                                                NaN
Australia                                                      525                                    ...                                                NaN
Bahamas                                                        147                                    ...  Staffing compliment is decreasing, based on em...
Bangladesh                                                       1                                    ...                                                NaN
Belarus                                                        783                                    ...                                                NaN
Belgium                                                        NaN                                    ...                                                NaN
Belize                                                           3                                    ...                                                NaN

[10 rows x 16 columns]

In [60]:
df_new.head(10)

                Please provide the total number of staff in your institution/organization by gender:  ...                                        Unnamed: 16
secondary_title                                           Female:                                     ...                            Other (please specify)
Albania                                                        15                                     ...                                              male
Argentina                                                      95                                     ...                                              male
Australia                                                    male                                     ...                                              male
Australia                                                     525                                     ...                                              male
Bahamas                                                       147                                     ...  Staffing compliment is decreasing, based on em...
Bangladesh                                                      1                                     ...                                              male
Belarus                                                       783                                     ...                                              male
Belgium                                                      male                                     ...                                              male
Belize                                                          3                                     ...                                              male

[10 rows x 16 columns]