<a href="https://colab.research.google.com/github/yairrinat/Survey_Analysis/blob/main/survey_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this short script I plan to analyze the survey data we got from the WMO

# **This is a new version**

In [18]:
# load and install pakages
import pandas as pd
import re
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

# Loading excels:

In [4]:
# link to excel file:
url_world = "https://github.com/yairrinat/Survey_Analysis/blob/main/WMO_SURVEY.xlsx?raw=true"
url_pop = "https://github.com/yairrinat/Survey_Analysis/blob/main/world_pop_all.xlsx?raw=true"
url_country_area = "https://github.com/yairrinat/Survey_Analysis/blob/main/country_area_new.xlsx?raw=true"
url_staff_reduced = "https://github.com/yairrinat/Survey_Analysis/blob/main/WMO%20Hydrology%20Survey_Staff_reduced.xlsx?raw=true"
url_GDP = "https://github.com/yairrinat/Survey_Analysis/blob/main/GDP_PPP.xlsx?raw=true"

#load personal data:
df_personal = pd.read_excel(url_world,index_col = 0,header = 0, sheet_name = "Person details")
df_personal = df_personal.iloc[1:,:] # remove first row
#print(df_personal)

#load staff data:
df_staff = pd.read_excel(url_world,index_col=0,header = 0, sheet_name = "STAFF")
list_ind = df_staff.index.to_list()
list_ind[0] = "secondary_title"
df_staff.index= list_ind
df_staff.head(10)

#load reduced staff data
df_staff_reduced = pd.read_excel(url_staff_reduced,index_col=0,header = 0, sheet_name = "STAFF")
list_ind = df_staff_reduced.index.to_list()
list_ind[0] = "secondary_title"
df_staff_reduced.index= list_ind
df_staff_reduced.head(10)

#load ... to be continued later

#load population data:
df_pop = pd.read_excel(url_pop)
# select only the population density and YEAR 2020:
df_pop = df_pop[df_pop['Year'] == 2019]
df_pop = df_pop[df_pop['Series'] == "Population density"]
df_pop.drop(["Region/Country/Area","Footnotes","Source", "Series", "Year"],axis = 1, inplace = True)
df_pop.rename(columns={"Population, density and surface area"	: "Country", "Value" : "pop_density_2019"}, inplace = True)
df_pop.set_index("Country",inplace = True)

#load GNI = gross national income previously gross national product
df_gpd_ppp = pd.read_excel(url_GDP,index_col = 0, header = 3)
df_gpd_ppp = df_gpd_ppp["2019"] # in $ 

df = pd.concat([df_staff,df_pop])


df

                          Please provide the total number of staff in your institution/organization by gender:  ... pop_density_2019
secondary_title                                                      Female:                                    ...              NaN
Albania                                                                   15                                    ...              NaN
Argentina                                                                 95                                    ...              NaN
Australia                                                                NaN                                    ...              NaN
Australia                                                                525                                    ...              NaN
...                                                                      ...                                    ...              ...
Wallis and Futuna Islands                                                NaN                                    ...          81.6571
Western Sahara                                                           NaN                                    ...           2.1897
Yemen                                                                    NaN                                    ...          55.2341
Zambia                                                                   NaN                                    ...          24.0265
Zimbabwe                                                                 NaN                                    ...          37.8583

[355 rows x 17 columns]

In [41]:
aa = df_staff_reduced.iloc[1:,3]
print(aa.head())

def identity_total_personal(x_in):
  """ This funciton identify the numbers in each cell of an input dataframe,
   turns them to integers and returns their sum"""
  try:
    if type(x_in) == int or type(x_in) == float:
      return x_in
    list_nums = re.findall(r"\d+",x_in)
    list_nums2 = [int(x) for x in list_nums]
    return sum(list_nums2)
  except:
    return float("NAN")
# return re.findall(r"\d+",df)

# sum the numbers in each cell:
#if aa will be a df then I should change the map to applymap !!
new = aa.map(identity_total_personal)
print(new.head())
# drop nans:
new.dropna(inplace = True)

print(new.head())
# now for the plotting:
new = new[new!=0]
new = new.sort_values()

new_array = np.array(new)
new_country = np.array(new.index)

#----------------------------------------------------
# some example data
threshold = 6    # 7 forecasters

# split it up
above_threshold = np.maximum(new_array - threshold, 0)
below_threshold = np.minimum(new_array, threshold)

# and plot it
fig, ax = plt.subplots()
ax.bar(new_country, below_threshold, 0.35, color="g")
ax.bar(new_country, above_threshold, 0.35, color="r",
        bottom=below_threshold)

# horizontal line indicating the threshold
ax.plot([0., 4.5], [threshold, threshold], "k--")

fig.savefig("look-ma_a-threshold-plot.png")
#----------------------------------------------------


plt.figure()
new.plot(kind = "bar")


new.plot(kind = "box", ylim =(0,50) )



plt.violinplot(new)

sns.displot(new, kind="hist", binwidth = 5)

# new.head()
# # test:
# a = re.findall(r"\d+","3 jh 32" )
# print(a)
# sum([int(a[0]) , int(a[1])])

# identity_total_personal("aa")


# type(df_staff[1:,3])

In [8]:
new

Albania                                                   8.0
Argentina                                                99.0
Australia                                                47.0
Bahamas                                                   2.0
Bangladesh                                               14.0
Belarus                                                   5.0
Belgium                                                   1.0
Belize                                                    1.0
Benin                                                    10.0
Bhutan                                                    4.0
Brazil                                                    4.0
Cambodia                                                  8.0
Central African Republic                                  0.0
Chile                                                     3.0
China                                                    18.0
Côte d'Ivoire                                             0.0
Czech Republic                                           21.0
Democratic Republic of the Congo                          0.0
El Salvador                                              19.0
Estonia                                                   1.0
Finland                                                  25.0
Gambia                                                    0.0
Georgia                                                   6.0
Guatemala                                                 3.0
Honduras                                                  2.0
Hong Kong, China                                          7.0
Iceland                                                   7.0
Indonesia                                                66.0
Ireland                                                   6.0
Israel                                                    0.0
Lesotho                                                   2.0
Luxembourg                                                9.0
Mongolia                                                  8.0
Myanmar                                                   4.0
Namibia                                                   5.0
Nepal                                                     4.0
Netherlands                                              45.0
New Caledonia                                             1.0
New Zealand                                               7.0
Niger                                                     3.0
Nigeria                                                  16.0
Norway                                                   40.0
Papua New Guinea                                          0.0
Peru                                                     41.0
Poland                                                  202.0
Republic of Moldova                                      47.0
Serbia                                                    4.0
Sierra Leone                                              7.0
Slovakia                                                 32.0
Slovenia                                                 11.0
Spain                                                     7.0
Togo                                                      4.0
United Kingdom of Great Britain and Northern Ireland      0.0
United States of America                                216.0
Name: Unnamed: 4, dtype: float64